
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users App</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div id="top">
        <h1>All the Users</h1>
        <table class="table table-bordered table-striped">
            <thead class="thead-light">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Age</th>
                </tr>
            </thead>
            <tbody>
                {% for user in all_users  %}
                <tr>
                    <td>{{user.id}}</td>
                    <td>{{user.first_name}} {{user.last_name}}</td>
                    <td>{{user.email_address}}</td>
                    <td>{{user.age}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="bottom"> 
        <hr id="line">
        <h1>Add a User</h1>
        <form method="POST" action="add">   <!-- Note action "add" directs the path to the urls.py and routes to the correct method in views.py -->
            {% csrf_token %}                <!-- POST requirement -->
            <div class="form-row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="First name" name="first_name">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Last name" name="last_name">
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Email" name="email_address">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Age" name="age">
                </div>
            </div>
            <input class="btn btn-outline-success" type="submit" value="Add">
        </form>
    </div>
</body>
</html>